
<table>
<tr><td>Last:</td><td><span id="last"></span>s</td></tr>
<tr><td>Location:</td><td><span id="loc"></span></td></tr>
<tr><td>Uptime:</td><td><span id="upt"></span></td></tr>
<tr><td>Power1: </td><td><span id="p1"></span></td></tr>
<tr><td>Sum1: </td><td><span id="p1s"></span></td></tr>
<tr><td>Power2: </td><td><span id="p2"></span></td></tr>
<tr><td>Sum2: </td><td><span id="p2s"></span></td></tr>
<tr><td>Power3: </td><td><span id="p3"></span></td></tr>
<tr><td>Sum3: </td><td><span id="p3s"></span></td></tr>
<tr><td>AD1: </td><td><span id="ad1"></span></td></tr>
<tr><td>AD2: </td><td><span id="ad2"></span></td></tr>
<tr><td>AD3: </td><td><span id="ad3"></span></td></tr>
<tr><td>AD4: </td><td><span id="ad4"></span></td></tr>
<tr><td>Relay1: </td><td><span id="r1"></span></td></tr>
<tr><td>Relay2: </td><td><span id="r2"></span></td></tr>
<tr><td>Temp1: </td><td><span id="t1"></span>C</td></tr>
</table>




