<!-- for module BmsLionModbus.py -->
<div style="">

<!--{% for module in datalayer.Modules %}{% set outer_index = loop.index0 %}{% for cell in module.Cells %}
vm{{outer_index}}cs{{loop.index0}}=0
tm{{outer_index}}cs{{loop.index0}}=1{% endfor %}{% endfor %}-->

  <form>
      <ul class="nobullet">
          <li>
              <input onclick="serverSend('BmsLion/_/_/:e3ec0')" type="button" value="read settings from CPU module"></input>
              <input onclick="serverSend('BmsLionModbus/pass/configsave/'+document.getElementById('settingsNEW').value)" type="button" value="save new setting to CPU"></input>
              </input><input onclick="BmsLion_settingsLoad()" type="button" value="load data in forms"></input>
          </li>
          <li><input readonly="true" size="160" type="text" id="settingsOUT" value=""></li>
          <li><input readonly="true" size="160" type="text" id="settingsNEW" value=""></input>byte length: <span id="settingsLength"></span>
          </li>
      </ul>
  
  <p>Please check the documentation for MODBUS registers!</p>
  <table>
{% for reg in range(4030,4058) %}
      <tr>
          <td><label onclick='this.innerHTML=document.getElementById("modbus_description").innerHTML.split("\n")[{{reg-4030}}]' for="set{{reg}}">{{reg}}</label></td>
          <td><input onfocusout="BmsLion_settingsCreate();" size="10" type="text" id="set{{reg}}" value=""></td>
      </tr>
{% endfor %}


<div id="modbus_description" style="display:none">application / chemistry
currentSensor
currentSensorOffset
currentSensorSlope
capacity
numCellsParalel
tempConf[0]
tempConf[1]
tempConf[2]
tempConf[3]
timeFilterError
timeFilterWarning
timeoutShutdown
maskErrorShutdown
cellVoltErrorMin
cellVoltErrorMax
cellVoltWarnDelta
cellVoltMaxDiff
cellTempErrorMin
cellTempErrorMax
cellTempWarnDelta
currentErrorMin
currentErrorMax
currentWarnDelta
pecMinWarn/pecMinError
socMinWarn/socMinError
isolationMin
canBaseAddr

</div>

  </table>
  </form>
  
  
  
  <button onclick="BmsLion_clearSettingsAll();">clear all</button><button onclick="BmsLion_setSettingsAll();">set all</button>
  <div style="clear:both">&nbsp;</div>

{% for module in range(16) %}
  <div style="float:left; background: #eee; margin: 0 10px 10px 0;">

  <div style="font-weight: bold;">Module #{{loop.index0 + 1}}</div>
  <div class="module_set" id="m{{loop.index0}}">
  {% set outer_index = loop.index0 %}
     
    <div class="cell_set_wrapper">
      <div class="cell_set_caption" style="width: 100px;">&nbsp;</div>
      <div class="cellV_set" style="width: 100px;" onclick="BmsLion_toggleSettingsModule('vm',{{loop.index0}});">Voltage</div>
      <div class="cellT_set" style="width: 100px;" onclick="BmsLion_toggleSettingsModule('tm',{{loop.index0}});">Temperature</div>
    </div>
     
    {% for cell in range(18) %}
        <div class="cell_set_wrapper">
          <div class="cell_set_caption">{{loop.index0+1}}</div>
          <div class="cellV_set" onclick="BmsLion_toggleSettingsItem(this);"><span id="vm{{outer_index}}cs{{loop.index0}}">0</span></div>
          <div class="cellT_set" onclick="BmsLion_toggleSettingsItem(this);"><span id="tm{{outer_index}}cs{{loop.index0}}">0</span></div>
        </div>
    {% endfor %}
   </div>
   
   </div>   
{% endfor %}

</div>
