
<table>
<tr><td>Solar power:</td><td><span id="power"></span> W</td></tr>
<tr><td>V_bat:</td><td><b><span id="vbat"></span> V</b></td></tr>
<tr><td>I_bat</td><td><b><span id="ibat"></span> A</b></td></tr>
<tr><td>Daily:</td><td><b><span id="kwh"></span> kWh</b></td></tr>
<tr><td>V_pv:</td><td><span id="vpv"></span> V</td></tr>
<tr><td>V_oc</td><td><span id="voc"></span> V</td></tr>
<tr><td>I_pv</td><td><span id="ipv"></span> A</td></tr>
<tr><td>Daily:</td><td><span id="amph"></span> Ah</td></tr>
<tr><td>Last seen:</td><td><span id="last"></span>s</td></tr>
</table>
