
<table>
<tr><td>Výroba:</td><td><b><span id="pv"></span> W</b> (<span id="ibat"></span>A@<span id="vbat"></span>V, <span id="pvkwh"></span>kWh)</td></tr>
<tr><td>Měnič:</td><td><b><span id="ps"></span> W</b></td></tr>
<tr><td>ČEZ:</td><td><b><span id="pcez"></span> W</b></td></tr>
<tr><td>Baterie:</td><td>56% (3.276V - 3.289V, delta 13mV)</td></tr>
<tr><td>Bazén:</td><td><span id="tbaz"></span> &deg;C (filtrace <span id="baz_r1"></span>, osvětlení <span id="baz_r2"></span>)</td></tr>
<tr><td>Venku:</td><td>24&deg;</td></tr>
<tr><td>Topení:</td><td>vypnuto, nádrž (16~21°C), čerpadlo vypnuto</td></tr>
<tr><td>&nbsp;</td><td>pokoj 22°C, zádveří 21°C, půda 27°C</td></tr>
<tr><td>Ventilace</td><td>in 0%, out 0%</td></tr>
</table>
