{% include "data_only_topbar.html" %}
message={{datalayer.message}}
reccount={{datalayer.receivecounter}}
eepromOUT={{datalayer.eepromOUT}}
eepromNewest={{datalayer.eepromNewest}}
cpuV33={{(datalayer.cpuV33/1000)|round(3)}}
cpuPEC={{datalayer.cpuPEC}}
cputime={{datalayer.cputime}}
cpuAI0={{datalayer.cpuAI[0]}}
cpuAI1={{datalayer.cpuAI[1]}}
cpuAI2={{datalayer.cpuAI[2]}}
cpuAI3={{datalayer.cpuAI[3]}}
cpuAI5={{datalayer.cpuAI[5]}}
cpuAI0calc={{(datalayer.cpuAIcalc[0]-27315)/100}}
cpuAI1calc={{(datalayer.cpuAIcalc[1]-27315)/100}}
cpuAI2calc={{(datalayer.cpuAIcalc[2]-27315)/100}}
cpuAI3calc={{(datalayer.cpuAIcalc[3]-27315)/100}}
cpuAI5calc={{(datalayer.cpuAIcalc[5]/1000)|round(3)}}
sqllog={{datalayer.sqllog}}
cputemp={{(datalayer.cputemp-27315)/100}}
status={{datalayer.status}}
console={{datalayer.console}}
consoleCounter={{datalayer.consoleCounter}}
