
<div style="">

<!--{% for module in datalayer.Modules %}{% set outer_index = loop.index0 %}{% for cell in module.Cells %}
vm{{outer_index}}cs{{loop.index0}}=0
tm{{outer_index}}cs{{loop.index0}}=1{% endfor %}{% endfor %}-->

  <form>
      <ul class="nobullet">
          <li>  <input onclick="serverSend(':e3ec0')" type="button" value="read settings from CPU module"></input><input onclick="serverSend(':e3ec0'+document.getElementById('settingsNEW').value)" type="button" value="save new setting to CPU"></input></li>
          <li><input readonly="true" size="160" type="text" id="settingsOUT" value=""></input><input onclick="settingsLoad()" type="button" value="load data in forms"></input></li>
          <li><input readonly="true" size="160" type="text" id="settingsNEW" value=""></input>byte length: <span id="settingsLength"></span>
          </li>
      </ul>
  
  <ul class="nobullet">
      <li><label for="settingsBetaCELL">Thermistor BETA value (LMMs)</label> <input onfocusout="settingsCreate();" size="10" type="text" id="settingsBetaCELL" value=""></li>
      <li><label for="settingsBetaCPU">Thermistor BETA value (LCM)</label>    <input onfocusout="settingsCreate();" size="10" type="text" id="settingsBetaCPU" value=""></li>
      <li><label for="settingsRefNTC">NTC ref voltage (LMMs)</label>    <input onfocusout="settingsCreate();" size="10" type="text" id="settingsRefNTC" value=""></li>
      <li><label title="0 = LiCoO2, Lithium Cobalt Oxide
1 = LiMn2O4, Lithium Manganese Oxide
2 = LiFePO4, Lithium Iron Phosphat
3 = LiNiMnCoO2, Lithium Nickel Manganese Cobalt Oxide
4 = LiNiCoAlO2, Lithium Nickel Cobalt Aluminium Oxide
5 = LTO" for="settingsChemistry">Chemistry <input onfocusout="settingsCreate();" size="10" type="text" id="settingsChemistry" value=""></li>
      <li><label title="0 = none
      1 = hall sensor 0-5V
      2 = Isabellen CAN bus" for="settingsCurrentSensor">Current sensor type</label>    <input onfocusout="settingsCreate();" size="10" type="text" id="settingsCurrentSensor" value=""></li>
      <li><label for="settingsCurrentSensorP1">Current sensor parameter 1</label>    <input onfocusout="settingsCreate();" size="10" type="text" id="settingsCurrentSensorP1" value=""></li>
      <li><label for="settingsCurrentSensorP2">Current sensor parameter 2</label>    <input onfocusout="settingsCreate();" size="10" type="text" id="settingsCurrentSensorP2" value=""></li>
      <li><label title="bits 0-7: USB, UART, SDCARD, not used, not used, ERROR, WARNING, DEBUG" for="settingsLog">Log parameters (hex)</label>    <input onfocusout="settingsCreate();" size="10" type="text" id="settingsLog" value=""></li>
      <li><label title="bits 0-7: ENABLED" for="settingsSD">SD card parameters (hex)</label>    <input onfocusout="settingsCreate();" size="10" type="text" id="settingsSD" value=""></li>
  </ul>
  </form>
  
  
  
  <button onclick="clearSettingsAll();">clear all</button><button onclick="setSettingsAll();">set all</button>
  <div style="clear:both">&nbsp;</div>

{% for module in datalayer.Modules %}
  <div style="float:left; background: #eee; margin: 0 10px 10px 0;">

  <div style="font-weight: bold;">Module #{{loop.index0 + 1}}</div>
  <div class="module_set" id="m{{loop.index0}}">
  {% set outer_index = loop.index0 %}
     
    <div class="cell_set_wrapper">
      <div class="cell_set_caption" style="width: 100px;">&nbsp;</div>
      <div class="cellV_set" style="width: 100px;" onclick="toggleSettingsModule('vm',{{loop.index0}});">Voltage</div>
      <div class="cellT_set" style="width: 100px;" onclick="toggleSettingsModule('tm',{{loop.index0}});">Temperature</div>
    </div>
     
    {% for cell in module.Cells %}
        <div class="cell_set_wrapper">
          <div class="cell_set_caption">{{loop.index0+1}}</div>
          <div class="cellV_set" onclick="toggleSettingsItem(this);"><span id="vm{{outer_index}}cs{{loop.index0}}">0</span></div>
          <div class="cellT_set" onclick="toggleSettingsItem(this);"><span id="tm{{outer_index}}cs{{loop.index0}}">0</span></div>
        </div>
    {% endfor %}
   </div>
   
   </div>   
{% endfor %}

</div>
